<% if (totalPages && totalPages > 1) { %>
  <nav class="mt-4">
    <ul class="pagination justify-content-center" id="pagination-container">
      <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
        <a class="page-link" href="#" data-page="<%= currentPage - 1 %>">Previous</a>
      </li>

      <% for (let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
          <a class="page-link" href="#" data-page="<%= i %>"><%= i %></a>
        </li>
      <% } %>

      <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
        <a class="page-link" href="#" data-page="<%= currentPage + 1 %>">Next</a>
      </li>
    </ul>
  </nav>
<% } %>
